<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/share-style.css" />
    
    <script
    src="https://kit.fontawesome.com/591746f9e8.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <body>
    <div class="share-container">
      <div class="feed-menu">
        <div class="share-title"><span>공유하기</span></div>
        <div class="share-content">
          <div>
            <span><i class="fa-solid fa-link"></i></span>
            <span><a href="">링크 복사</a></span>
          </div>
          <div>
            <span><i class="fa-solid fa-link"></i></span>
            <span><a href="">카카오톡 공유</a></span>
          </div>
          <div>
            <span><i class="fa-solid fa-link"></i></span>
            <span><a href="">이메일 공유</a></span>
          </div>
          <div>
            <span><i class="fa-solid fa-link"></i></span>
            <span><a href="">취소</a></span>
          </div>




          <!-- <div class="share-content-icon">
            <i class="fa-solid fa-link"></i>
            <i class="fa-solid fa-link"></i>
            <i class="fa-solid fa-link"></i>
            <i class="fa-regular fa-circle-xmark" id="i-x"></i>
          </div>

          <div class="share-content-text">
            <span>링크 복사</span>
            <span>카카오톡 공유</span>
            <span>이메일로 공유</span>
            <span>취소</span>
          </div> -->
        </div>


<!-- 
          <ul>
            <li><a href="">
              
              <span>링크 복사</span></a></li>
            <li><a href="">
              
              <span>카카오톡 공유</span></a></li>
            <li><a href="">
              
              <span>이메일로 공유</span></a></li>
            <li><a href="">
              
              <span>취소</span></a></li>
          </ul> -->

        <div class="feed-menu-btn btn1"><a href="#">제출</a></div>
        <div class="feed-menu-btn btn2"><a href="#">취소</a></div>
      </div>
    </div>
  </body>
</html>
