* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  margin: 0 310px;
}

#a {
  width: 30%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.info-section img {
  width: 150px;
  height: 150px;
}

#b {
  margin-left: 50px;
}

#btn {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: whitesmoke;
  margin-right: 20px;
}

#c {
  padding-top: 10px;
}

#c > a:nth-child(1) {
  margin-right: 20px;
}

#d {
  margin-top: 20px;
}

#d > a:nth-child(1) {
  font-size: 14px;
  margin-right: 10px;
}
#d > a:nth-child(2) {
  font-size: 14px;
  margin-right: 10px;
}

#d > a:nth-child(3) {
  font-size: 14px;
}

.f {
  margin-top: 20px;
  min-width: 550px;
  min-height: 150px;
}

#text-area {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 12px;
}

#text-area a {
  padding: 0px 10px;
}

.feed-section {
  display: flex;
  flex-wrap: wrap;
  min-width: 800px;
  max-width: 1000px;
}

.feed-section > a {
  display: block;
  width: 290px;
  height: 290px;
  margin: 10px;

  position: relative;
}

#feed-img {
  width: 290px;
  height: 290px;
  object-fit: cover;
}

.hover-icon-container {
  display: none;
}

#feed-img:hover + .hover-icon-container {
  width: 290px;
  height: 290px;
  background-color: #00000070;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-icon-container > i {
  color: white;
  margin-left: 20px;
  margin-right: 5px;
}

.hover-icon-container > span {
  color: white;
  font-size: 14px;
}
