:root {
  --background-color: white;
  --main-font-color: #8e8e8e;
  --icon-button-color: #262626;
  --point-font-color: #0095f6;
  --mention-font-color: #00376b;
  --fiesta-color: #dd4132;
  --small-font-size: 12px;
  --madium-font-size: 16px;
  --large-icon-size: 24px;
}


.modal_background{
  position: fixed;
  top:0; left:0; bottom:0; right:0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 10;

}
#close-post{
  position: fixed;
  top:0; left:100; bottom:100; right:0;
  z-index: 10000;
  margin: 20px;
  background-color:transparent;
  transform:scale(2) ;
  cursor: pointer;
  color: white;
}
/* ************** 게시물 작성 창 ******************* */

.modal_post_section{

  position: relative;
  width: 50vw;
}

.modal_post_section::before{
  content: "";
  display: block;
  padding-top: 100%;
}
.new-post-background{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  /* width: 50vw;
  height: 50vh;*/
  min-width: 325px;
  min-height: 431px;
  max-width: 900px;
  max-height: 940px;
  border-radius: 10px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 

}


/* ----- 게시물작성 top ------ */

.new-post-top-section{
  width: 100%;
  height: 7%;
}
.new-post-top{
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #ccc;

}
.new-post-top-title{
  /* flex-grow: 1; */
  justify-content: center;
  
  font-size: 20px;
}

.new-post-bottom-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93%;
}

  .inputpotos-box{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
    /* height: 93%; */
    top:0; left:0; bottom:0; right:0;
    
  }
  .inputpotos-box i{
    transform:scale(4) ;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #create-text-message{
    font-size: 23px;
    text-align: center;
    font-weight: 300;
    margin: 5px;
  
  
  }
  #upload-file{display: none;}

  .file-select-btn{
    width: 122.81px;
    height: 30.98px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #0095F6;
    margin-top: 12px ;

    color: white;
    font-size: 15px;    
    text-align: center;
    
    /* margin-top: 30px; */
    /* padding: px; */
  }