.modal_background{
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  
  }
  #close-post{
    position: fixed;
    top:0; left:100; bottom:100; right:0;
    z-index: 10000;
    margin: 20px;
    background-color:transparent;
    transform:scale(2) ;
}

/* #post-x, #post-x > i{ background-color: black; } */


  .postwirte-box{
    width: 388px;
    height: 431px;
    background-color: white;
    border-radius: 10px;
  }

  
  .create-title{ 
    /* text-align: center; */
    /* padding: 10px 0; */
    /* height: 7%; */
    /* width: 228px; */
    /* height: 24px; */
    /* padding-top: 13px; */
    /* border-bottom: 2px solid #ddd; */
    
    text-align: center;
  
  padding-top: 9px;
  height: 10%;
  border-bottom: 2px solid #ddd;
  }

  .inputpotos-box{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
    /* height: 93%; */
    top:0; left:0; bottom:0; right:0;
    
  }
  .inputpotos-box i{
    transform:scale(4) ;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #create-text-message{
    font-size: 23px;
    text-align: center;
    font-weight: 300;
    margin: 5px;
  
  
  }
  #upload-file{display: none;}

  .file-select-btn{
    width: 122.81px;
    height: 30.98px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #0095F6;
    margin-top: 12px ;

    color: white;
    font-size: 15px;    
    text-align: center;
    
    /* margin-top: 30px; */
    /* padding: px; */
  }