:root {
  --background-color: white;
  --main-font-color: #8e8e8e;
  --icon-button-color: #262626;
  --point-font-color: #0095f6;
  --mention-font-color: #00376b;
  --fiesta-color: #dd4132;
  --small-font-size: 12px;
  --madium-font-size: 16px;
  --large-icon-size: 24px;
}


.modal_background{
  position: fixed;
  top:0; left:0; bottom:0; right:0;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;
  /* display:none; */
  padding:15px;
  z-index: 5;

}
#close-post{
  position: fixed;
  top:0; left:100; bottom:100; right:0;
  z-index: 6;
  margin: 20px;
  background-color:transparent;
  transform:scale(2) ;
  cursor: pointer;
  color: white;
}
/* ************** 게시물 작성 창 ******************* */

.modal_post_section{

   position: relative;
  /*width: 50vw; */
  display: flex;
  justify-content:center;
  align-items:center;

  width:60vw;
  min-width: 388px;
  min-height: 431px;
  max-width: 795px;
  max-height: 838px;

  border-radius:10px;
  overflow:scroll;
  scrollbar-width:none;

  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

.modal_post_section::before{
  content: "";
  display: block;
  padding-top: 110%;
}
.new-post-background{
  position: absolute;
  top:0; left:0; bottom:0; right:0;

  border-radius: 10px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 

}


/* ----- 게시물작성 top ------ */

.new-post-top-section{
  width: 100%;
  height: 8%;
}
.new-post-top{
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #ececec;

}
.new-post-top-title{
  /* flex-grow: 1; */
  justify-content: center;
  
  font-size: 18px;
}
/* ----- 게시물작성 bottom ------ */
.new-post-bottom-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
}

  .new-post-file-input-box{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top:0; left:0; bottom:0; right:0; */
    
  }
  .new-post-file-img > i{
    /* transform:scale(4) ; */
    /* margin-bottom: 30px; */
  }
.input-message{
    font-size: 23px;
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
  
  
  }
  #file-input{display: none;}
.file-select-btn > label{
  cursor: pointer;
}
  .file-select-btn{
    width: 122.81px;
    height: 30.98px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--fiesta-color);
    margin-top: 12px ;

    
    color: white;
    font-size: 15px;    
    text-align: center;
  }