:root {
  --background-color: white;
  --main-font-color: #8e8e8e;
  --icon-button-color: #262626;
  --point-font-color: #0095f6;
  --mention-font-color: #00376b;
  --fiesta-color: #dd4132;
  --small-font-size: 12px;
  --medium-font-size: 16px;
  --large-icon-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
}


a{
  color:black;
}


.share-container {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: absolute;
  top: 0;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.feed-menu {
  width: 350px;
  /* height: 250px; */
  background-color: white;

  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 공유하기 */
.share-title {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}


.share-title span {
  color: var(--fiesta-color);
  font-weight: bold;
  font-size: 17px;
}


.share-content {
  margin: 10px 0;
  flex-basis: 70%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}


.share-content div {
  width: 88%;
  padding: 13px 20px;

}


.share-content div:hover {
  background-color: rgba(221, 221, 221, 0.3);
}





.share-content i {
  margin-right: 10px;
}

.share-content a {
  font-size: 0.9em;
  font-weight: bold;
}




