<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/follow-board.css" />
    
    <script
    src="https://kit.fontawesome.com/591746f9e8.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <body>
    <div class="follow-container">
      <div class="follow-menu">
        <div class="follow-title"><span>팔로워</span></div>
        <div class="follow-content">
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/이영지.jpg"></span>
            <span><a href="">이영지</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/장원영.jpg"></span>
            <span><a href="">장원영</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/다운로드 (1).jpeg"></span>
            <span><a href="">K.I</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/8983e3185d5dc741e425f7c06f907f1b.jpg"></span>
            <span><a href="">김하늘</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/tomatoClown.jpg"></span>
            <span><a href="">클라운</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
          <div>
            <span><img src="../../resources/images/안유진.jpg"></span>
            <span><a href="">안유진</a></span>
          </div>
        
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
