<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>instagram</title>
    <link rel="stylesheet" href="/resources/css/common-style.css" />
    <link rel="stylesheet" href="/resources/css/myprofile.css" />
    <script
      src="https://kit.fontawesome.com/591746f9e8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <section id="header-section">
        <!-- 로고 -->
        <section class="logo-section">
          <a href="#"
            ><img id="logo" src="/resources/images/instagram.png"
          /></a>
        </section>
        <!-- 검색창 -->
        <section class="search-section">
          <form action="#">
            <fieldset>
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input
                type="text"
                name="search"
                id="searchInput"
                placeholder="검색"
                autocapitalize="none"
                autocomplete="off"
              />
            </fieldset>
          </form>
        </section>
        <!-- 메뉴 -->
        <nav id="nav-bar">
          <ul>
            <li>
              <a href="#"> <i class="fa-solid fa-house"></i></a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-paper-plane"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-square-plus"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-compass"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-heart"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-user"></i>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <!-- 메인 섹션 -->
    <!-- main 태그 안쪽에 구현할 태그 작성해주시면 됩니다. -->
    <main>
      <section class="info-section">
        <div id="a">
          <a href="#">
            <img id="self" src="/resources/images/user.png" />
          </a>
        </div>

        <div id="b">
          <div id="c">
            <a href="#">s_am_97</a>

            <button id="btn">
              <a href="#">프로필 편집</a>
            </button>

            <a href="#"><i class="fa-solid fa-gear"></i></a>
          </div>

          <div id="d">
            <a href="#">게시글 6</a>
            <a href="#">팔로우 100</a>
            <a href="#">팔로잉 100</a>
          </div>

          <p class="f">자기소개 글</p>
        </div>
      </section>

      <section class="title-section">
        <p id="text-area">
          <a href="#"><i class="fa-solid fa-chess-board"></i> 게시물</a>

          <a href=""><i class="fa-regular fa-bookmark"></i> 저장됨</a>

          <a href=""><i class="fa-solid fa-children"></i> 태그됨</a>
        </p>
      </section>

      <section class="feed-section">
        <a href="#">
          <img id="feed-img" src="/resources/images/cat1.jpg" />
          <div class="hover-icon-container">
            <i class="fa-regular fa-heart"></i><span>20</span>
            <i class="fa-regular fa-comment"></i><span>333</span>
          </div>
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/cat2.jpg" />
          <div class="hover-icon-container">
            <a href="#" class="fa-regular fa-heart"></a><span>20</span>
            <i class="fa-regular fa-comment"></i><span>333</span>
          </div>
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/cat3.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/dog1.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/dog2.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/dog3.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/flower3.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/flower4.jpg" />
        </a>
        <a href="#">
          <img id="feed-img" src="/resources/images/flower5.jpg" />
        </a>
      </section>
    </main>
    <!-- 푸터 -->
    <footer>
      <p>
        Copyright &copy; KH Information Educational Institute A-Class SNS Team
      </p>
      <article>
        <a href="#">프로젝트 소개</a>
        <span>|</span>
        <a href="#">이용약관</a>
        <span>|</span>
        <a href="#">개인정보처리방침</a>
        <span>|</span>
        <a href="#">고객센터</a>
      </article>
    </footer>
  </body>
</html>
