<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/resources/css/common-style.css" />
    <link rel="stylesheet" href="/resources/css/newpost-file-style.css" />
    <script
      src="https://kit.fontawesome.com/591746f9e8.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <!-- <form action=""> -->
    <button type="submit" id="close-post">
        <span id="post-x"><i class="fa-solid fa-x"></i></span>
    </button>

    <!-- </form> -->
          <div class="modal_background">
            
            <div class="postwirte-box">
              <form action="#" method="POST" name="create-newpost" id="create-newpost"></form>
                <div class="create-title">
                    <span>새 게시물 만들기</span>
                </div>

                <div class="inputpotos-box">
                  <div>
                    <i class="fa-solid fa-photo-film"></i>
                  </div>

                  
                    <p id="create-text-message">사진과 동영상을 여기에 끌어다 놓으세요</p>
                  
                
                    <label class="file-select-btn" for="input-file">
                        컴퓨터에서 선택
                    </label>
                    <input type="file" id="upload-file">
                 
 
                  <!-- multiple : 2개 이상의 파일 -->
                </div>

            </form>

            </div>

          
            

        </div>

</body>
</html>