<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>instagram</title>
    <link rel="stylesheet" href="/resources/css/common-style.css" />
    <link rel="stylesheet" href="/resources/css/newpost-eidt-style.css" />

   
    <script
      src="https://kit.fontawesome.com/591746f9e8.js"
      crossorigin="anonymous"
    ></script>
  </head>


  <body>
    <!-- 헤더 -->
    <header>
      <section id="header-section">
        <!-- 로고 -->
        <section class="logo-section">
          <a href="#"
            ><img id="logo" src="/resources/images/instagram.png"
          /></a>
        </section>
        <!-- 검색창 -->
        <section class="search-section">
          <form action="#">
            <fieldset>
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input
                type="text"
                name="search"
                id="searchInput"
                placeholder="검색"
                autocapitalize="none"
                autocomplete="off"
              />
            </fieldset>
          </form>
        </section>
        <!-- 메뉴 -->
        <nav id="nav-bar">
          <ul>
            <li>
              <a href="#"> <i class="fa-solid fa-house"></i></a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-paper-plane"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-square-plus"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-compass"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-heart"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-regular fa-user"></i>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>




    
    <!-- 메인 섹션 -->
    <!-- main 태그 안쪽에 구현할 태그 작성해주시면 됩니다. -->
    <main>
      <form action="#">
        <button name="close" id="close-post">
          <span id="post-x"><i class="fa-solid fa-x"></i></span>
        </button>
      
      </form>
      



      <div class="modal_background">

        <div class="file-cut-box">

          <div class="post-cut-top">
            <div class="back-btn">
              <button id="post-back-btn"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
            
              <div class="post-cut-title">자르기</div>
            
            <div class="next-btn">
              <button id="post-next-btn" name="다음">다음</button>
            </div>
            
          </div>
         
            <div class="file-eidt">
            <img id="file"src="/resources/images/square2.jpg" alt="파일미리보기">

            <!-- 다음사지 보기 버튼 -->
            <div class="img-next-view">
              <div class="btn-background">
                <i class="fa-solid fa-chevron-right"></i>
              </div>
              
            </div>



              <div class="img-btn">

                <div class="img-cut-menu" >
                  <input id="img-cut-checkbox" type="checkbox"/>
                  
                  <!-- 이미지 편집 --><div>
                    <label for="img-cut-checkbox">
                      <div class="btn-background">
                        <i class="fa-solid fa-scissors"></i>
                      </div>
                    </label>
                  </div>
                  
                    <!-- <div class="menu-style">
                      <ul class="cut-menu">
                        <li>원본</li>
                        <li>1:1</li>
                      </ul>
                    </div> -->

                </div>
                
                <!-- 이미지 추가 -->
                <div class="img-add-menu">
                  <input id="img-add-checkbox" type="checkbox"/>
                  <div class="btn-background">
                    <i class="fa-regular fa-square-plus"></i>
                  </div>
                  <!-- <div class="btn-background">
                    <label for="img-add-checkbox"><i class="fa-regular fa-square-plus"></i></label>
                  </div>
                   -->
                  <!-- <div class="menu-style">
                    <ul class="add-menu">
                      <li>원본</li>
                      <li>+</li>
                    </ul>
                  </div> -->
                    
                </div>

              </div>  
                
                <!-- <form action="#">
                  <button id=""> 비율조정</button>
                </form> -->
                <!-- <form action="#">
                  <button id="img-add" type="button">이미지 추가</button>
                </form> -->

              </div>
              
              
            </div>

          
          
        </div>

        </div>

      </div>
        
    </main>
    <!-- 푸터 -->
    <footer>
      <p>
        Copyright &copy; KH Information Educational Institute A-Class SNS Team
      </p>
      <article>
        <a href="#">프로젝트 소개</a>
        <span>|</span>
        <a href="#">이용약관</a>
        <span>|</span>
        <a href="#">개인정보처리방침</a>
        <span>|</span>
        <a href="#">고객센터</a>
      </article>
    </footer>
  </body>
</html>

